*{
    margin: 0;
    padding: 0;
}

body {
    background-color:darkslategrey;
    color: lightgray;
    display:flex;
    padding: 2em;
    justify-content: center;
}


h2{
    text-align: center;
    padding: 2em;
}

button{
    display: grid;
    margin: auto;
    margin-top: 1em;
    padding: .5em;
    font-family: monospace;
    background-color: lightcoral;
    border: none;
    border-right: 3px solid red;
    box-shadow: 2px 1px 4px .5px salmon;
}

button:hover{
    box-shadow: 2px 2px 4px 1px salmon;
}